/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h1 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h2 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h3 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h4 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h5 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
h6 { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
p { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
q { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
li { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
a { font-family: 'Enriqueta'!important; font-weight:normal!important;  }
